[submodule "tools/libirecovery"]
	path = tools/libirecovery
	url = http://github.com/chronicdev/libirecovery.git
[submodule "tools/syringe"]
	path = tools/syringe
	url = git://github.com/Chronic-Dev/syringe.git
